body{
    background-image:url(imgs/cloudBG.jpg);
    background-position:center bottom;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#yourCharacter{
    background-color: deepskyblue;
}
#opponentCharacter{
    background-color: maroon;
}
#playerMoves{
    position:absolute;
    bottom: 0;
    left: 0;
    background-color:tan;
}
#opponentMovesAndHealth{
    position:absolute;
    bottom: 0;
    right: 0;
    background-color:tan;
}
