body{
    background-image:url(imgs/cloudBG.jpg);
    background-position:center bottom;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family:main, serif;
}
@font-face{
    font-family:main;
    src: url(QuentonSerif_PERSONAL_USE_ONLY.otf)
}
#loadingType{
    font-size: 80px;
}
#yourCharacter{
    height:200px;
    width:200px;
}
#opponentCharacter{
    height:200px;
    width:200px;
}
#playerMoves{
    position:absolute;
    bottom: 0;
    left: 0;
    background-color:tan;
    border:solid 4px white;
    border-top-right-radius: 10px;
    color:black;
}
#opponentMovesAndHealth{
    position:absolute;
    bottom: 0;
    right: 0;
    background-color:tan;
}
#playerHealthBackground{
    background-color:tan;
    border:solid 4px white;
    border-radius:10px;
}
#opponentHealthBackground{
    background-color:tan;
    border:solid 4px white;
    border-radius:10px;
}
.playerHealthBar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    width:100%;
    background-color: darkred;
    z-index: 1;
}
.playerHealthBarLost{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(25, 25, 25);
    z-index: 0;
}
.playerHealthWrap{
    position:relative;
    width: 90%;
    height: 20px;
    margin: 0 auto;
    margin-bottom:10px;
}
.opponentHealthBar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    width:100%;
    background-color: darkred;
    z-index: 1;
}
.opponentHealthBarLost{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(25, 25, 25);
    z-index: 0;
}
.opponentHealthWrap{
    position:relative;
    width: 90%;
    height: 20px;
    margin: 0 auto;
    margin-bottom:10px;
}
.boostOption{
    background-color: tan;
    position: absolute;
    height: 450px;
    aspect-ratio: 4/3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0 0 5px black;
    border-radius:10px;
}

.attackButton{
    height: 40%;
    width: 40%;
}
.healthButton{
    height: 40%;
    width: 40%;
}

.resultBox{
    background-color: tan;
    position: absolute;
    height: 450px;
    aspect-ratio: 4/3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-shadow: 0 0 5px black;
    border-radius:10px;
}
.backToLobby{
    height: 40%;
    width: 40%;
}