body{
    background-image:url(imgs/cloudBG.jpg);
    background-position:center bottom;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#yourCharacter{
    background-color: deepskyblue;
    height:200px;
    width:200px;
}
#opponentCharacter{
    background-color: maroon;
    height:200px;
    width:200px;
}
#playerMoves{
    position:absolute;
    bottom: 0;
    left: 0;
    background-color:tan;
}
#opponentMovesAndHealth{
    position:absolute;
    bottom: 0;
    right: 0;
    background-color:tan;
}
#playerHealthBackground{
    background-color:tan;
}
#opponentHealthBackground{
    background-color:tan;
}
.playerHealthBar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    width:100%;
    background-color: darkred;
    z-index: 1;
}
.playerHealthBarLost{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(25, 25, 25);
    z-index: 0;
}
.playerHealthWrap{
    position:relative;
    width: 90%;
    height: 20px;
    margin: 0 auto;
    margin-bottom:10px;
}
.opponentHealthBar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    width:100%;
    background-color: darkred;
    z-index: 1;
}
.opponentHealthBarLost{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(25, 25, 25);
    z-index: 0;
}
.opponentHealthWrap{
    position:relative;
    width: 90%;
    height: 20px;
    margin: 0 auto;
    margin-bottom:10px;
}
.boostOption{
    background-color: tan;
    position: absolute;
    height: 450px;
    aspect-ratio: 4/3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}